/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --secondary-font: 'PressStart2P', serif;
    --header-weight: 715;
    --text-weight: 410;
}